html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Open Sans","Arial", sans-serif;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 24px;
    color: black;
    background-color: ghostwhite;
}

input, textarea {
    width: 100%;
    flex-grow: 1;
}

.button {
    font-size: 14px;
    padding: 5px;
    background-color: #4831D4;
    border: 1px solid darkgrey;
    color: #CCF381;
    border-radius: 3px;
}

.task-control {
    width: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    justify-content: center;
    margin: auto;
    background-color: lightgray;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
}

.input-wrapper-h {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.label {
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.complete {
    background-color: #CCF381;
}

.expired {
    color: #A04000;
    font-weight: bold;
}

.todo-list {
    padding: 20px 0;
    margin: 0;
}

.todo-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid darkgrey;
    border-radius: 3px;
    padding: 2px;
}

.todo-item-field {
    padding-right: 10px;
    text-align: justify;
}

.todo-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.field-name {
    margin: 0;
    padding: 5px;
}

.fields-wrapper-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.fields-wrapper-right {
  flex-grow: 1;
    padding-left: 10px;
}

.task-description {
    font-size: 10px;
}

.button-wrapper {
    width: 130px;
}

.modal {
    display: block;
    position: fixed;
    background-color: darkgrey;
    min-width: 320px;
    border: 1px solid #ededed;
    padding: 10px 30px 20px;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}
